@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Poppins', sans-serif;
    color: #25131A;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    font-weight: 400;
}

.mapboxgl-canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Скрыть полосу прокрутки для IE, Edge и Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}


